@model PizzeriaNana.Models.Prodotti

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Prodotti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>
        

    </dl>
</div>

@if (User.IsInRole("admin"))
{<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdProdotto }) |

    </p>}
else
{ @Html.ActionLink("Aggiungi", "Create", "Clienti", new { area = "" }, new { @class = "nav-link" })}
<p>

    @Html.ActionLink("Back ", "Index")
</p>
