@model IEnumerable<PizzeriaNana.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}


@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else { }


  
    <div  style="width: 80rem;">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item border-light">  <img class="w-25" src="~/Content/assets/img/@item.Foto" /></li>
                <li class="list-group-item border-light"> @Html.DisplayNameFor(model => model.NomeP) @Html.DisplayFor(modelItem => item.NomeP)</li>
                <li class="list-group-item border-light"> @Html.DisplayNameFor(model => model.Ingredienti): @Html.DisplayFor(modelItem => item.Ingredienti)</li>
                <li class="list-group-item border-light"> @Html.DisplayNameFor(model => model.Costo) @Html.DisplayFor(modelItem => item.Costo)</li>
                <li class="list-group-item border-2 border-dark  border-start-0 border-end-0">  @Html.DisplayNameFor(model => model.TempoConsegna) @Html.DisplayFor(modelItem => item.TempoConsegna)</li>

               
                if (User.IsInRole("admin"))
                {
                    <li class="list-group-item">   @Html.ActionLink("Details", "Details", new { id = item.IdProdotto })</li>
                    <li class="list-group-item">   @Html.ActionLink("Edit", "Edit", new { id = item.IdProdotto }) </li>
                    <li class="list-group-item">   @Html.ActionLink("Delete", "Delete", new { id = item.IdProdotto })</li>
    }
                
    else {<li class="list-group-item">   @Html.ActionLink("Scopri di più", "Details", new { id = item.IdProdotto })</li> }
            }

        </ul>
        
    </div>